html{
    overflow-x: hidden;
}
html, body, header, main, section, footer{
    width:100%;
}
.wrapper{
    max-width:1140px;
    margin:0 auto;
}

img{
    max-width:100%;
    object-fit:cover;
}
h4{
    margin-bottom: 20px;
}
h3{
    margin-bottom: 15px;
}

