header{
    margin:0 auto;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
    padding:30px 0;
    border-bottom:1px solid #fff;

    nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    width:100%;
    font-family: 'Oswald';
    font-weight:300;
    text-transform: uppercase;
.logo{
    width:60%;
}
.logo a{
    font-size: 30px;
    color:#fff;
    text-transform: uppercase;
   
}
.links{
    width:40%;
    display: flex;
    justify-content: space-around;
}
.links a{
    color:rgb(167, 167, 167);
    &:hover{
        color:#fff;
        transition: all ease-in-out 0.2s;
    }
    
}
}
}

