header{
    margin:0 auto;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 20;
    padding:30px 0;
    border-bottom:1px solid #fff;
    transition: 0.5s all ease-in-out;


    nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    width:100%;
    font-family: 'Oswald';
    font-weight:300;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;

.logo{
    width:60%;
}
.logo a{
    font-size: 30px;
    color:#fff;
    text-transform: uppercase;
   
}
.links{
    width:40%;
    display: flex;
    justify-content: space-around;
}
.links a{
    color:rgb(141, 141, 141);
    &:hover{
        color:#fff;
        transition: all ease-in-out 0.2s;
    }
    
}
}
}

.nav-js{
    background-color: #fff;
    color: #000;
    padding: 15px 0;
    .logo a{
        font-size: 30px;
        color:#000;
        text-transform: uppercase;
       
    }
}